[Desktop Entry]
Encoding=UTF-8
Name=Worldbit
Comment=Worldbit P2P Cryptocurrency
Comment[fr]=Worldbit, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Worldbit, eşten eşe kriptografik sanal para birimi
Exec=worldbit-qt %u
Terminal=false
Type=Application
Icon=worldbit128
MimeType=x-scheme-handler/worldbit;
Categories=Office;Finance;
