[Unit]
Description=Worldbit's distributed currency daemon
After=network.target

[Service]
User=worldbitcore
Group=worldbitcore

Type=forking
PIDFile=/var/lib/worldbitd/worldbitd.pid
ExecStart=/usr/bin/worldbitd -daemon -pid=/var/lib/worldbitd/worldbitd.pid \
-conf=/etc/worldbitcore/worldbit.conf -datadir=/var/lib/worldbitd -disablewallet

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
